<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<div class="col3">
<p><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>

<div id="transactions">
<div class="category">
  Category Name:
  <%= @category.name%>
  </p>
</div>
<p>Total amount: <%= @total_money %> </p>
  <% @transactions.each do |transaction| %>
    <%= render transaction %>
  <% end %>
</div>

<%= link_to "New transaction", new_category_transaction_path(@category.id) %>
