<div class="back-header">
<div class="back">
    <a class="link" href="/categories"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></a>
</div>
  <h2>Transactions</h2>
<p class= "out"><%= link_to "Sign out", destroy_user_session_path, class: "sign-out", method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<div class="page">
<div class="container">
  <div class="category-main">
    <p>Category Name:
      <%= @category.name%>
    </p>
    <p>Total amount: <%= @total_money %>$ </p>
      <% @transactions.each do |transaction| %>
        <%= render transaction %>
      <% end %>
  </div>
  <div class = "add-category">
    <%= link_to "New transaction", new_category_transaction_path(@category.id), class: "new" %>
  </div>
</div>
</div>